@import "../../variables.scss";

.wrapper {
  .tab {
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 13px;
    &:hover {
      background-color: rgba(175, 187, 254, 0.151);
      cursor: pointer;
    }
    a {
      margin: 0 10px;
      text-decoration: none;
      color: rgb(75, 75, 75);
      &:visited {
        color: rgb(75, 75, 75);
      }
    }
  }
}