@import "../../../variables.scss";

.dialog_card {
   padding: 10px 15px;
   height: 80px;
   display: flex;
   align-items: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.193);

   &:hover {
      cursor: pointer;
      background-color: rgba(49, 49, 251, 0.156);
   }

   &:last-child {
      border-bottom: none;
   }

   .avatar {
      height: 55px;
      width: 55px;
      img {
         width: inherit;
         object-fit: cover;
         border-radius: 50%;
      }
   }


   .info {
      height: 100%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &__title {
         margin-bottom: 7px;
         font-size: 15px;
      }

      &__message {
         overflow: hidden;
         max-width: 200px;
         font-size: 14px;
      }
   }
}
.selected {
   background-color: rgba(49, 49, 251, 0.156);
}