.wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  padding: 25px;
  width: 450px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 100px;
  border-radius: 9px;
  box-shadow: 0px 4px 10px grey;
  button {
    margin-top: 20px;
    font-size: 18px;
  }
  input {
    height: 40px;
  }
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.error {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: rgb(190, 2, 2);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  svg {
    margin-right: 10px;
  }
}