@import "../../variables.scss";

.header {
  margin-bottom: 20px;
}

.body {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;
  height: 100%;
  border-radius: $border-radius;
  .first_column {
    
  }
  &__content {
    margin-bottom: 20px;
  }
}