@import "../../variables.scss";

.header {
  height: 300px;
  border-radius: $border-radius;
  background-color: white;
  margin-bottom: 20px;
}

.body {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 10px;
  height: 300px;
  border-radius: $border-radius;
  div {
    height: 100px;
    background-color: white;

  }
}