@import "../../variables.scss";
.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: $border-radius;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.276)
}

.second_collumn {

}

