@import "../../../variables.scss";

.wrapper {
  height: 300px;
  border-radius: $border-radius;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.276)
}


.background {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $border-radius;
  }
}

.bottomPanel {
  height: 100px;
  position: relative;
  bottom: 99px;
  background-color: white;
  border-radius: $border-radius;
  display: flex;
  .avatar {
    img {
      position: relative;
      bottom: 95px;
      left: 25px;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid white;
    }
  }
  .info_panel {
    padding: 0 20px 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 20px;
      font-weight: 500;
      font-family: "Roboto";
    }
    a {
      color: $main-color;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
    }
  }
}