@import "./variables.scss";
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: $background-color
}
.container {
  width: 1100px;
  display: flex;
  justify-content: center;
}
.main {
  margin-top: 20px;
  display: flex;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  justify-content: center;
  .firstColumn {
    padding: 10px 0;
    text-align: left;
    display: flex;
    p {
      font-size: 14px;
    }
  }
  .secondColumn {
    width: 900px;
    min-width: 600px;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    justify-self: center;
  }
}