@import '../../../variables.scss';

li {
   margin: 20px 0;
   list-style-type: none;
}
.message {
   display: flex;
   justify-content: left;
   padding: 0 20px;
   .avatar {
     margin-right: 13px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
   }
   .info__header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .time {
         color: gray;
         font-size: 12px;
      }
   }
   a {
     text-decoration: none;
     color: $main-color;
     margin-right: 10px;
   }
   p {
     word-break: break-all;
     word-wrap: normal;
     font-size: 14px;
   }
  }
 